@media screen and (max-width: 525px) {
  .right-bar-login {
    display: none;
    visibility: hidden;
  }
  
  .logo {
    
    margin-left: auto;

  }
}

@media screen and (max-width: 919px) {
 
  .logo {
    text-align: center;
    margin-left: 0.5%;
  }
}
.social-btn {
  flex-direction: row;
}
